<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.qunzhi.mapper.ProjectExtraMapper">
  <resultMap id="BaseResultMap" type="com.xidian.qunzhi.pojo.ProjectExtra">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="current_user_count" jdbcType="INTEGER" property="currentUserCount" />
    <result column="demand" jdbcType="LONGVARCHAR" property="demand" />
  </resultMap>
</mapper>