<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.qunzhi.mapper.UserProjectMapper">
  <resultMap id="BaseResultMap" type="com.xidian.qunzhi.pojo.UserProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_role" jdbcType="SMALLINT" property="userRole" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user_realname" jdbcType="VARCHAR" property="userRealname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
</mapper>